{% extends "admin/layout/page-default.twig" %}

{% block page %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Ativo</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in listagem %}
            <tr>
                <td scope="row">{{item.name}}</td>
                <td scope="row">{{item.email}}</td>
                <td scope="row">
                    {% if item.status == 'a' %}
                        Ativo 
                    {% else %} 
                        Inativo
                    {% endif %}
                </td>
                <td scope="row">
                    <button title="Editar" onclick="redirect('{{routePage}}/form/{{item.iduser}}')" class="btn btn-info"><i class="fa fa-edit"></i></button>
                    <button title="Deletar" onclick="deletar('{{routePage}}/destroy/{{item.iduser}}', '{{item.name}}')" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}