 
 <style>
 .bg-submenu{
   background-color: #264a60
 }
 .notification {
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -4px;
  padding: 4px 7px;
  border-radius: 50%;
  background-color: #d22628;
  color: white;
}
 </style>
 <!-- Navbar -->
  <nav class="main-header navbar navbar-expand ">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ PREFIX_DASHBOARD }}/dashboard" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ PREFIX_DASHBOARD }}/logout" role="button">
          <i class="nav-icon fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ PREFIX_DASHBOARD }}/dashboard" class="brand-link logo-sidebar">
      <img src="{{LOGO_SISTEMA}}" alt="{{TITULO_SISTEMA}}">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <a href="{{ PREFIX_DASHBOARD }}/perfil/{{ user_id }}">
                <span class="cl avatar-user text-white bg-info" style="width: 40px;height: 40px;display: flex;border-radius: 100%;justify-content: center;align-items: center;">{{ firstLetter }}</span>
            </a>
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{{ PREFIX_DASHBOARD }}/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          {% for itemSidebar in sidebar %}
            <li class="nav-item">
              <a href="{{itemSidebar.url}}" class="nav-link">
                <i class="{{itemSidebar.icone}}"></i>
                <p>
                  {{itemSidebar.label}}
                  {% if itemSidebar.level == 0 %}
                    <i class="right fas fa-angle-left"></i>
                  {% endif %}
                </p>
              </a>
              {% if itemSidebar.submenu|length > 0 %}
                <ul class="nav nav-treeview" style="display: none;">
                  {% for itemSubmenu in itemSidebar.submenu %}
                    <li class="nav-item">
                      <a href="{{itemSubmenu.url}}" class="nav-link">
                        <i class="{{itemSubmenu.icone}}"></i>
                        <p>{{itemSubmenu.label}}</p>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              
            </li>
          {% endfor %}
          
          <li class="nav-item">
            <a href="{{ PREFIX_DASHBOARD }}/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Sair
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>